{% extends 'baseDashboard.html.twig' %}

{% block title %}Technologies{% endblock %}

{% block body %}
    <div class="d-flex align-items-center justify-content-between">
        <h1>Technologies</h1>
        <a class="btn perso-button-main" href="{{ path('app_technology_new') }}">Créer nouvelle technologie</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for technology in pagination %}
            <tr>
                <td>{{ technology.id }}</td>
                <td>{{ technology.name }}</td>
                <td>
                    <a class="btn perso-button-main" href="{{ path('app_technology_show', {'id': technology.id}) }}">Voir</a>
                    <a class="btn perso-button-main" href="{{ path('app_technology_edit', {'id': technology.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="d-flex align-items-center justify-content-center my-2 text-center">
		{{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
