{% extends 'baseDashboard.html.twig' %}

{% block title %}Sessions{% endblock %}

{% block body %}
<div class="d-flex align-items-center justify-content-between">
    <h1>Sessions</h1>
    <a class="btn perso-button-main my-4" href="{{ path('app_session_new') }}">Créer nouvelle session</a>
</div>
    <div class="overflow-x-scroll">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>DiscordChannelLink</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for session in pagination %}
            <tr>
                <td>{{ session.id }}</td>
                <td>{{ session.name }}</td>
                <td>{{ session.discordChannelLink|slice(0,60) }}...</td>
                <td>
                    <a class="btn perso-button-main" href="{{ path('app_session_show', {'id': session.id}) }}">Voir</a>
                    <a class="btn perso-button-main" href="{{ path('app_session_edit', {'id': session.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    <div class="d-flex align-items-center justify-content-center my-2 text-center">
		{{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
