{% extends 'base.html.twig' %}

{% block title %}Ticket{% endblock %}

{% block body %}
<div class="card bg-main-color text-white w-75 mx-auto mt-5 p-5 rounded-4">
    <h1 class="text-center">Ticket</h1>

    {# {{ dump(ticket) }} #}

    <table class="table">
        <tbody
        
            <tr>
                <th>Ticket Id</th>
                <td>#{{ ticket.id }}</td>
            </tr>
            <tr>
                <th>Etudiant</th>
                <td>{{ ticket.owner.firstname }} {{ ticket.owner.lastname}} </td>
            </tr>
            <tr>
                <th>Technologie</th>
                <td>{{ ticket.technology.name }}</td>
            </tr>
            <tr>
                <th>Subject</th>
                <td>{{ ticket.subject }}</td>
            </tr>
            <tr>
                <th>Priority</th>
                <td>
                    {% if ticket.priority %}
						<span class="badge bg-warning" >Elevée</span>
					{% else %}
						<span class="badge bg-success">Normale</span>
					{% endif %}
                </td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ ticket.status.name }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ ticket.createdAt ? ticket.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ ticket.updatedAt ? ticket.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
    {% if app.user.id != ticket.owner.id %}
        {{ include('ticket/_angel_form.html.twig') }}
    {% else %}
    <div class="d-flex justify-content-between">
        {{ include('ticket/_delete_form.html.twig') }}
        {{ include('ticket/_unsetAngel_form.html.twig') }}
        {{ include('ticket/_resolve_form.html.twig') }}
    </div>
    {% endif %}

    <a href="{{ path('app_ticket_index') }}" class="text-white text-center">back to list</a>
    <a href="{{ path('app_ticket_edit', {'id': ticket.id}) }}" class="text-white text-center">edit</a>
</div>

    {# <a href="#" class="btn btn-success">Aider mon camarade</a> #}

    {# {{ include('ticket/_delete_form.html.twig') }} #}

    {# {{ dump(app.user.id) }} #}
    {# {{ dump(ticket.owner.id) }} #}
{% endblock %}
