{% extends 'baseDashboard.html.twig' %}

{% block title %}Ticket{% endblock %}

{% block body %}
<div id="image-modal" style="display: none; position: fixed; z-index: 100; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); align-items: center; justify-content: center;">
	<img id="modal-image" style="max-width: 90%; max-height: 90%;">
</div>
{# <div class="card bg-main-color text-white w-75 mx-auto mt-5 p-5 rounded-4"> #}
<div class="p-5 overflow-y-scroll">
    <h1 class="text-center">Ticket</h1>

    {# {{ dump(ticket) }} #}

    <table class="table">
        <tbody
        
            <tr>
                <th>Ticket Id</th>
                <td>#{{ ticket.id }}</td>
            </tr>
            <tr>
                <th>Images</th>
                <td>{% if ticket.image is not null %}
                        <img src="{{ asset('uploads/images/' ~ ticket.image) }}" class="card-img-top clickable-image" alt="...">
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Etudiant</th>
                <td>{{ ticket.owner.firstname }} {{ ticket.owner.lastname}} </td>
            </tr>
            <tr>
                <th>Technologie</th>
                <td>{{ ticket.technology.name }}</td>
            </tr>
            <tr>
                <th>Subject</th>
                <td>{{ ticket.subject }}</td>
            </tr>
            <tr>
                <th>Priority</th>
                <td>
                    {% if ticket.priority %}
						<span class="badge bg-warning" >Elevée</span>
					{% else %}
						<span class="badge bg-success">Normale</span>
					{% endif %}
                </td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ ticket.status.name }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ ticket.createdAt ? ticket.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ ticket.updatedAt ? ticket.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
    {% if app.user.id != ticket.owner.id %}
        {% if ticket.status == status[0] %}
        {{ include('ticket/_angel_form.html.twig') }}
        {% endif %}
    {% else %}
    <div class="d-flex justify-content-between">
        {% if ticket.status != status[2] %}

        <a href="{{ path('app_ticket_edit', {'id': ticket.id}) }}" class="btn perso-button-main text-white text-center">edit</a>

        {{ include('ticket/_delete_form.html.twig') }}

        {% endif %}

        {% if ticket.status == status[1] %}

        {{ include('ticket/_unsetAngel_form.html.twig') }}

        {% endif %}

        {% if ticket.angel is not null %}

        {% if ticket.status != status[2] %}

            {{ include('ticket/_resolve_form.html.twig') }}

        {% endif %}

        {% endif %}
    </div>
    {% endif %}

    <a href="{{ path('app_ticket_index') }}" class="text-white text-center">back to list</a>
</div>

    {# <a href="#" class="btn btn-success">Aider mon camarade</a> #}

    {# {{ include('ticket/_delete_form.html.twig') }} #}

    {# {{ dump(app.user.id) }} #}
    {# {{ dump(ticket.owner.id) }} #}
{% endblock %}
