{% extends 'baseDashboard.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
    <h1>Utilisateurs</h1>

    <div class="overflow-x-scroll">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Roles</th>
                {# <th>Password</th> #}
                <th>Authorisée</th>
                <th>Création</th>
                {# <th>Updated_at</th> #}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in pagination %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.email }}</td>
                {# <td>{{ user.roles ? user.roles|json_encode : '' }}</td> #}
                <td>
                {% for role in user.roles %}
                        <span class="badge bg-main-color text-white">{{ role }}</span>
                {# <td>{{ user.password }}</td> #}
                {% endfor %}
                </td>
                <td>{{ user.authorized ? '✅' : '❌' }}</td>
                <td>{{ user.createdAt ? user.createdAt|date('d-m-Y H:i:s') : '' }}</td>
                {# <td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td> #}
                <td>
                    <a class="btn perso-button-main" href="{{ path('app_user_show', {'id': user.id}) }}">Voir</a>
                    <a class="btn perso-button-main" href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    <div class="d-flex align-items-center justify-content-center my-2 text-center">
		{{ knp_pagination_render(pagination) }}
    </div>

    {# <a class="btn perso-button-main" href="{{ path('app_user_new') }}">Create new</a> #}
{% endblock %}
